<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Home</title>

	<style>
		body { margin-left: 50px; margin-top:50px; }
		h2.indent { margin-left: -35px; margin-top: -35px;}
	</style>


</head>
<body>

	<h2 class="indent">This page is in construction...</h2>
	<br><br>


	<h4>Welcome! To view data sets, click below!</h4>
	<hr>
	<button id="viewdata">View Data Sets</button>

	<br>
	<br>

	<h4>To view documentation about this tool, click below!</h4>
	<hr>
	<button id="viewdoc">View Documentation</button>

	<br>
	<br>

	<h4>To learn more about the developer, click below!</h4>
	<hr>
	<button id="viewprofile">View My Profile :)</button>

	<br>
	<br>

</body>

<script src="../javascripts/index.js"></script>

</html>