<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
    <title>View Data Sets</title>
</head>
<body>

    <h1>Existing Sets:</h1>

    <table id="existinglists" class="existinglists">
        <thead id="tableheading">
        <th class="listname"> <label>Data Name</label> </th>
        <th class="listdescription"> <label>Data Description</label> </th>
        </thead>

        <tbody id="tablebody">

        <!-- Rows of data to be inserted here-->

        </tbody>


    </table>



    <h3>Or, Create A New Data Set.</h3>
    <button id="createnew">Create New Entry</button>

</body>

<script src="../javascripts/viewdata.js"></script>
</html>